@page "/"
@using Pokedex.Contract.Response
@using Pokedex.Web.Clients
@rendermode InteractiveServer
@inject PokedexAPIClient pokedexAPI

<PageTitle>Search Pokemon</PageTitle>

<input @bind="input" placeholder="Input" @onkeydown="EnterKeyPress" @bind:event="oninput" />
<button @onclick="SearchPokemon">Test</button>

@if (pokemon is not null)
{
	<div>
		<h1>@pokemon.Name</h1>
		<h3>@pokemon.Id</h3>
		<img src="@pokemon.Image" />
	</div>
}
else if (errorMessage is not null)
{
	<h1>@errorMessage</h1>
}