@page "/"
@using Pokedex.Contract.Response
@using Pokedex.Web.Clients
@rendermode InteractiveServer
@inject PokedexAPIClient pokedexAPI

<PageTitle>Pokedex: Search Pokemon</PageTitle>

<header class="header">
	<h1>Pokedex</h1>
</header>

<div class="search-container">
	<input class="search-bar" @bind="input" @bind:event="oninput" @onkeydown="EnterKeyPress" placeholder="Input" />
	<button class="search-button" @onclick="SearchPokemon">Search</button>
</div>

@if (pokemon is not null)
{
	<div class="pokemon-info">
		<h1>@pokemon.Name.ToUpper()</h1>
		<h3>@pokemon.Id</h3>
		<img class="pokemon-image" src="@pokemon.Image" />
	</div>
}
else if (errorMessage is not null)
{
	<h1>@errorMessage</h1>
}